html, body{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    background-color: rgba(250, 250, 250);
    font-family: 'Poppins';
    overflow-y: hidden;
}

.main{
    width:100%;
    height:100%;
}


.text{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 7vh;
}

#top{
    font-size: 4vh;
    margin-top: 5vh;
    font-weight: 200;
    margin-bottom: 0px;
    color:#515660;
}

#bold{
    font-size: 3.8vh;
    font-weight: 600;
    margin-top: 0px;
    color:#404349;

}

.text p{
    font-size: 1.8vh;
    margin-left: 20vw;
    padding-left: 16vw;
    margin-right: 20vw;
    padding-right: 16vw;
    color:#515660;
}

.container{
    display: flex;
    gap: 0.5vw;
    justify-content: center;
    margin-top: 18vh;
}

.supervisor, .calculator, .teamBuilder, .karma{
    height: 27vh;
    width: 18vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px hsl(224, 21%, 57%);
    border-radius: 10px;
}

h4{
    margin-left: 1.5vw;
    font-size: 2.5vh;
    font-weight: 500;
    margin-bottom: 4px;
}

.supervisor, .calculator, .teamBuilder, .karma, p{
    margin-left: 1.5vw;
    padding-right: 1vw;
    margin-top: 0px;
    color:#515660;
}

img{
    margin-left: 13vw;
    margin-top: 1.3vh;
    
    height:auto;
    width: auto;
}

.supervisor{
    border-top: 6px solid #6fd3d3;
}

.teamBuilder{
    border-top: 6px solid #e8575f;
}

.karma{
    border-top: 6px solid #f8b054;
}

.calculator{
    border-top: 6px solid #5e98db;
}

.vertical{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    transform: translateY(-6vw);
}


@media (max-width: 600px){

    html, body{
       
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: visible;
    }

    .main{
        width: 100%;
        padding-bottom: 2vh;
    }

    .text{
        justify-content: center;
        text-align: center;
        margin-top: 4%;
        margin-bottom: 2vh;
    }

    #top{
        font-size: 4vh;
        margin-top: 5vh;
        font-weight: 200;
        color:#515660;
    }

    #bold{
        font-size: 3.8vh;
        font-weight: 600;
        margin-top: 0px;
        color:#404349;
    }

    .text p{
    font-size: 2vh;
    max-width: 85%;
    margin: 0;
    color:#515660;
    padding-left: 9vw;
    font-weight: 500;
}


    /* FIXED COLUMN LAYOUT + EQUAL GAP */
    .container{
        display: flex;
        flex-direction: column;
       
        align-items: center;
        margin-top: 5vh;
        transform: none;
        width: 100%;
    }

    /* BOX SIZE + CENTERING */
    .supervisor, .calculator, .teamBuilder, .karma{
        width: 80vw;
        height: auto;
        padding-bottom: 4vh;
        background-color: #fff;
        box-shadow: 1px 1px 10px hsl(224, 21%, 57%);
        border-radius: 8px;
    }

    h4{
        margin-left: 6vw;
        font-size: 2.7vh;
        font-weight: 700;
        margin-top: 2vh;
        margin-bottom: 0.8vh;
    }

    /* FIX TEXT ALIGNMENT */
    .supervisor p, 
    .calculator p, 
    .teamBuilder p, 
    .karma p{
        margin-left: 6vw;
        margin-right: 6vw;
        font-size: 2vh;
        line-height: 1.4em;
        margin-top: 0.5vh;
    }

    /* FIX IMAGE ALIGNMENT */
    img{
        display: block;
        margin: 4vh 8vw 2vh auto;
    }

    .supervisor{ border-top: 6px solid #6fd3d3; 
        margin-top: 4vh;
        margin-bottom: 4vh;
                
}

    .teamBuilder{ border-top: 6px solid #e8575f; 
                    margin-top: 4vh;
                    
    }

    .karma{ border-top: 6px solid #f8b054; 
            margin-top: 1vh;
            margin-bottom: 0px;
        }
    .calculator{ border-top: 6px solid #5e98db; 
                margin-top: 1.5vh;
                margin-bottom: 4vh;
                }
}
